.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  gap: 20px;
}
.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 300px;
  height: 200px;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
  gap: 10px;
}
.coloredTitle {
  color: orange;
  margin-bottom: 5px;
}
