/* UserSignUp.js */
.auth-container {
  max-width: 350px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-container a {
  color: #007bff;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}
/* Register.js */
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  margin: 0 auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
}

.register-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form input,
.register-form select,
.register-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="mail"],
.register-form input[type="number"],
.register-form textarea {
  height: 40px;
}

.register-form select {
  height: 40px;
}

.register-form textarea {
  height: 100px;
}

.register-form .submit {
  width: 100%;
  padding: 12px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.register-form .submit:hover {
  background-color: orange;
}

.error {
  color: red;
  font-size: 14px;
}